### 🔵 데이터 정보 확인

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("./Data01.csv")

In [3]:
df1.index # 데이터의 순서 index

RangeIndex(start=0, stop=6519, step=1)

In [4]:
df1.columns # 데이터의 항목 column

Index(['회원번호', '조합원상태', '주소-구', '주소-동', '성별', '연령', '연령대', '총구매금액', '총구매수량',
       '1회방문시구매금액(평균)', '배송서비스신청여부', '모바일알람여부', 'Gold_member'],
      dtype='object')

In [5]:
df1.info() # 데이터의 타입 확인 -> 어떤 분석이 가능할지 살펴 봄

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회원번호           6519 non-null   int64
 1   조합원상태          6519 non-null   object
 2   주소-구           6519 non-null   object
 3   주소-동           6519 non-null   object
 4   성별             6518 non-null   object
 5   연령             6518 non-null   float64
 6   연령대            6518 non-null   object
 7   총구매금액          6519 non-null   int64
 8   총구매수량          6519 non-null   float64
 9   1회방문시구매금액(평균)  6519 non-null   int64
 10  배송서비스신청여부      6519 non-null   object
 11  모바일알람여부        6519 non-null   object
 12  Gold_member    6519 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 662.2+ KB

In [6]:
df1.head() # 상위 5개

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총구매금액,총구매수량,1회방문시구매금액(평균),배송서비스신청여부,모바일알람여부,Gold_member
0,272369856,정상회원,수지구,풍덕천동,여,45.0,40대,5733884,546.5,47782,미신청,수신,VIP
1,1506656256,정상회원,수지구,풍덕천동,여,36.0,30대이하,673414,90.0,35443,미신청,.,normal
2,1476143616,정상회원,수지구,풍덕천동,여,34.0,30대이하,655919,66.0,46851,미신청,.,normal
3,716128320,정상회원,수지구,풍덕천동,여,51.0,50대,2984534,252.1,48138,미신청,.,normal
4,743192512,정상회원,수지구,성복동,여,51.0,50대,1901488,152.0,158457,신청,.,normal

### 🔵 데이터 기술 통계 분석

In [7]:
# 평균 확인
df1['총구매금액'].mean()

966397.3017333947

In [8]:
# 중앙값 확인
df1['총구매금액'].median()

287354.0

In [13]:
# 최소값
df1['총구매금액'].min()

-8615

In [12]:
# 최대값
df1['총구매금액'].max()

24986439